@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');
*{
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
}

 /*#region NAVBAR*/
li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-h1{
    cursor: pointer;
    color: #edf0f1;
    transition: text-shadow 0.3s ease;
    letter-spacing: 5px;
    border-right: 5px solid;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    animation: cursor 0.4s step-end infinite alternate;
}

@keyframes cursor{
    60% {border-color: transparent}
}

.nav-h1:hover{
text-shadow: 0 0 20px rgba(0, 136, 169, 0.6);
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
    box-shadow: 0 0 20px rgba(178, 255, 255, 0.8);
}
/*#endregion*/

/*#region main*/
.container {
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    color: #edf0f1;
}

.container h3 {
    margin-bottom: 10px;
    color: #0088a9; 
}

.container p {
    margin-bottom: 30px;
    color: #aaa;
    font-size: 1em;
    line-height: 1.6;
}

.bold-p{
    font-size: 1.1em;
    color: white;
}

.table {
    width: 100%;
    border-collapse: collapse; 
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.table th, .table td {
    border: 1px solid rgba(255, 255, 255, 0.2); 
    
    padding: 15px;
    text-align: left;
}

.table th {
    background-color: rgba(0, 136, 169, 0.2); 
    color: #00ffcc; 
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 1px;
}

.table a {
    color: #0088a9;
    text-decoration: none;
    transition: color 0.3s;
}

.table a:hover {
    color: #00ffcc;
    text-decoration: underline;
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05); 
}

.h{
    display: flex !important; 
    justify-content: flex-start !important;
    align-items: center !important;
    position: relative;
    width: max-content;
    padding: 5px;
    margin: 0;
    margin-left: 300px;
    margin-bottom: 30px;
    color: rgb(108, 206, 255);
}

.h::after{
    content: '';
    background: linear-gradient(to right, white, #06bfee);
    border-radius: 100px;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 100ms;
}
.h:hover::after{
    width:100%;
}
.h:hover{
    cursor: pointer;
}
/*#endregion*/

/*#region Cards*/
/*#region Cards*/

/* The Wrapper for the cards */
.container-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allows cards to go to next line on small screens */
    gap: 30px;       /* Adds space between cards */
    margin-top: 20px;
}

/* The Individual Card */
.card {
    background-color: #1b1c20; 
    width: 300px;              
    border-radius: 15px;       
    overflow: hidden;          
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    transition: transform 0.3s ease; 
}

/* Hover Effect: Card floats up */
.card:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); /* Green glow on hover */
}

/* The Image inside the card */
.card img {
    width: 100%;
    height: 200px;       /* FORCE all images to be the same height */
    object-fit:fill;   
    object-position: center;
    display: block;      
}

.card-text {
    padding: 20px;
    text-align: center;
}

.card h4 {
    color: #00ffcc;      
    margin-bottom: 10px;
    font-size: 1.2rem;
}

footer{
    color: #0088a9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
/*#endregion*/