@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Titan+One&display=swap');
*{
    font-family: "Raleway";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
}

/*#region Nav Bar*/
li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-h1{
    cursor:pointer;
    display: inline-block;
    color: #edf0f1;
    transition: text-shadow 0.3s ease;

    /*Writing animation*/
    letter-spacing: 5px;
    border-right: 5px solid;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(26),
                cursor 0.4s step-end infinite alternate;
}

@keyframes typing{
    from {width: 0}
    to {width: 240}
}
@keyframes cursor{
    60% {border-color: transparent;}
}

.nav-h1:hover{
text-shadow: 0 0 20px rgba(0, 136, 169, 0.6);
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
    box-shadow: 0 0 20px rgba(178, 255, 255, 0.8);
}
/*#endregion*/

/*#region main*/
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.panel{
    width: 100vw;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.panel-h1{
    color: #edf0f1;
    position: relative;
    z-index: 2;
    background-color: rgb(36, 37, 42, 0.1);
    backdrop-filter: blur(5px);
    padding: 15px 30px;     
    border-radius: 20px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    cursor:pointer;
}
.arrow {
    position: absolute;
    bottom: 30px; 
    left: 48.5%;    

}

.main-content {
    background-color: #1a1b1e; 
    padding: 50px 10%; 
    min-height: 500px; 
}

.row {
    display: flex;
    align-items: center;   
    justify-content: space-between; 
    width: 80%;
    margin: 60px auto; 
    gap: 40px;        
    padding: 20px;
    border-radius: 15px;
    width: fit-content;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.text-content {
    flex: 1;  
}

.text-content h2 {
    color: #0088a9;
    margin-bottom: 10px;
}

.text-content p {
    color: whitesmoke;
    line-height: 1.6;
}   

.screenshot {
    flex: 1; 
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    border: 2px solid #0088a9;
}

.loader{
    position:absolute;
    width: 350px;
    height: 350px;
    border-top: 5px solid  rgb(74, 175, 225);
    border-radius: 100%;
    animation: 10s spin linear infinite;
    z-index: 1;
}
.loader::before{
    position: absolute;
    content: "";
    width: inherit;
    height: inherit;
    border-bottom: 5px solid #8d0be4;
    border-radius: 100%;
    top: -5px;
    left: 0;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

h2{
    position: relative;
    width: max-content;
    padding: 5px;
}

h2::after{
    content: '';
    background: linear-gradient(to right, white, #06bfee);
    border-radius: 100px;
    height: 4px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 100ms;
}
h2:hover::after{
    width:100%;
}
h2:hover{
    cursor: pointer;
}

footer{
    color: #0088a9;
    border-radius: 5px;
    background: #24252A;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#endregion*/